name: Release Chart

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Chart & app version (e.g. 1.2.3)"
        required: true

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      # ---------------------------
      # Checkout repo
      # ---------------------------
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app_token.outputs.token }}

      # ---------------------------
      # Install Helm
      # ---------------------------
      - name: Install Helm
        run: |
          curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      # ---------------------------
      # Update Helm dependencies
      # ---------------------------
      - name: Update Helm dependencies
        run: |
          helm dependency update charts/flask-app

      # ---------------------------
      # Package Helm chart
      # ---------------------------
      - name: Package Helm chart
        run: |
          VERSION="${{ github.event.inputs.version }}"

          helm package charts/flask-app \
            --app-version "$VERSION" \
            --version "$VERSION" \
            -d packaged/

      # ---------------------------
      # GHCR login
      # ---------------------------
      - name: GHCR Login
        run: |
          echo "${{ secrets.GH_HELM }}" | \
            helm registry login ghcr.io \
              --username x-access-token \
              --password-stdin

      # ---------------------------
      # Push Helm Chart to GHCR (OCI)
      # ---------------------------
      - name: Push Helm chart to GHCR
        run: |
          CHART="flask-app"
          VERSION="${{ github.event.inputs.version }}"

          OCI_URL="ghcr.io/igorsilva-dev/${CHART}"

          helm push packaged/${CHART}-${VERSION}.tgz "oci://${OCI_URL}"
